@charset "utf-8";

/*	=====================================================
	ローディングダイアログ
	===================================================== */
@keyframes ctm-dialog-loading_loop {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.6;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
.ctm-dialog-loading[open] {
	--dialog-loading-size: 120px;
	--dialog-loading-border: 4px;
	--dialog-loading-border_color: var(--color-accent);
	--dialog-loading-animation: 1s;

	top: 0;
	margin: auto;
	width: var(--dialog-loading-size);
	height: var(--dialog-loading-size);
	border: var(--dialog-loading-border) solid var(--dialog-loading-border_color);
	border-radius: 50%;
	background-color: initial;
	box-shadow: initial;
	animation: ctm-dialog-loading_loop var(--dialog-loading-animation) ease-in-out infinite;
}
