<dialog class="m-dialog ctm-dialog-help" closedby="any">
	<div class="m-dialog__body ctm-dialog-help__body">
		<div class="ctm-dialog-help__content">
			<input type="radio" id="help-tool" class="ctm-dialog-help__radio ctm-dialog-help__radio--tool" name="helpDialog" data-help="tool" disabled />
			<input type="radio" id="help-site" class="ctm-dialog-help__radio ctm-dialog-help__radio--site" name="helpDialog" data-help="site" />
			<div class="ctm-dialog-help__tab-list">
				<label class="ctm-dialog-help__tab-label ctm-dialog-help__tab-label--tool" for="help-tool">ツールに<br/>ついて</label>
				<label class="ctm-dialog-help__tab-label ctm-dialog-help__tab-label--site" for="help-site">サイトに<br/>ついて</label>
			</div>
			<div class="ctm-dialog-help__tab-text ctm-dialog-help__tab-text--tool">
				ツール
			</div>
			<div class="ctm-dialog-help__tab-text ctm-dialog-help__tab-text--site">
				サイト
			</div>
		</div>
	</div>
</dialog>
