<dialog class="m-dialog ctm-dialog-menu" closedby="any">
	<div class="m-dialog__body ctm-dialog-menu__body">
		<h2 class="ctm-dialog-menu__title">
			総合メニュー
		</h2>
		<div class="ctm-dialog-menu__comment">
			<span class="ctm-dialog-menu__emoji">➕</span>を押してヘッダーに追加、<span class="ctm-dialog-menu__emoji">➖</span>でヘッダーから消せます
		</div>
		<div class="ctm-dialog-menu__list" data-action="menuAppend"></div>
	</div>
</dialog>

<template class="template-dialog-menu__menu-group">
	<dl class="ctm-dialog-menu__menu-group"></dl>
</template>

<template class="template-dialog-menu__menu-title">
	<dt class="ctm-dialog-menu__menu-title"></dt>
</template>

<template class="template-dialog-menu__menu-tool">
	<dd class="ctm-dialog-menu__menu-tool">
		<button type="button" class="ctm-dialog-menu__menu-append ctm-dialog-menu__emoji" data-menu-key=""></button>
		<a href="" class="ctm-dialog-menu__menu-link">
			<span class="ctm-dialog-menu__menu-icon ctm-dialog-menu__emoji"></span>
			<span class="ctm-dialog-menu__menu-name"></span>
		</a>
	</dd>
</template>
