name: コンパイルワークフロー
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4
        with:
          ref: main
          clean: true
      - name: ブランチの整理
        run: |
          find . -mindepth 1 \( -path './noname-wear' -o -path './.git' \) -prune -o -exec rm -rf {} +
          rsync -av --exclude='.gitignore' noname-wear/src/ ./
          rm -rf noname-wear
          git add .
      - name: 変更をコミット
        run: |
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git checkout --orphan temp
          git add -A
          git commit -m "最新のデータを更新"
          if git show-ref --verify --quiet refs/heads/pages; then
            git checkout pages
            git reset --hard temp
          else
            git branch -m pages
          fi
          git branch -D temp || true
          git push -f origin pages
